<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Edit Cat</title>
</head>
<body>
    <form class="form" action="/cat/<%=cat.id%>" method="post">
        <h1>Edit Cat</h1>
        <label for="breedCat">Breed: </label>
        <input type="text" name="breedCat" value="<%=cat.breedCat%>" required ><br>
        <label for="sizeCat">Size: </label>
        <input type="text" name="sizeCat" value="<%=cat.sizeCat%>" required><br>
        <label for="coatCat">Coat: </label>
        <input type="text" name="coatCat" value="<%=cat.coatCat%>" required><br>
        <label for="colourCat">Colour: </label>
        <input type="text" name="colourCat" value="<%=cat.colourCat%>" required><br>
        <div class="btns">
            <button class="btn">Save Changes </button>
            <a class="btn" href="/">Main Page</a>
        </div>
    </form>
</body>
</html>